@page
@model TruckLoadingApp.Pages.Troutes.IndexModel
@{
    ViewData["Title"] = "Routes";
}
<h1>Routes</h1>
@if (User.IsInRole("Driver"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<form method="get">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <input type="text" class="form-control mb-2" id="originFilter" name="OriginFilter" placeholder="Filter by Origin" value="@Model.OriginFilter">
        </div>
        <div class="col-auto">
            <input type="text" class="form-control mb-2" id="destinationFilter" name="DestinationFilter" placeholder="Filter by Destination" value="@Model.DestinationFilter">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Filter</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TRoutes[0].Route.Origin)</th>
            <th>@Html.DisplayNameFor(model => model.TRoutes[0].Route.Destination)</th>
            <th>@Html.DisplayNameFor(model => model.TRoutes[0].Route.AvailableDate)</th>
            <th>Driver</th>
            <th>@Html.DisplayNameFor(model => model.TRoutes[0].Route.Description)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TRoutes)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Route.Origin)</td>
                <td>@Html.DisplayFor(modelItem => item.Route.Destination)</td>
                <td>@Html.DisplayFor(modelItem => item.Route.AvailableDate)</td>
                <td>@Html.DisplayFor(modelItem => item.DriverFirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.Route.Description)</td>
                <td>
                    @if (User.IsInRole("Client"))
                    {
                        @if (item.IsBooked)
                        {
                            <button class="btn btn-secondary" disabled>Booked</button>
                        }
                        else
                        {
                            <a asp-page="/Troutes/Book" asp-route-id="@item.Route.RouteId" class="btn btn-primary">Book</a>
                        }
                    }
                    @if (User.IsInRole("Driver"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Route.RouteId">Edit</a>
                        <a asp-page="./Details" asp-route-id="@item.Route.RouteId">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.Route.RouteId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>